@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Welcome to my blog!</p>
    }
    else
    {
        <p>My name is @User.Identity.Name</p>
    }
    
</div>
